# Application Settings
APP_NAME=FraudRadar-CoreEngine
ENVIRONMENT=development

# Message Broker Configuration (Kafka / Redpanda)
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_TRANSACTIONS=transactions.scored

# Dataset & ML Model Artifacts Path
DATASET_PATH=data/creditcard.csv